/* ======== START ::: AUTH NAV STYLE ======== */
.auth-nav {
    margin-top: 0.25rem;
    font-size: 0.93rem;
}
.auth-navlink {
    color: #c7c7c7;
    transition: color 0.2s ease;
}
.auth-navlink:hover {
    color: #4461f2;
}
/* ======== END ::: AUTH NAV STYLE ======== */

